body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  width: 300px;
  background-color: #f4f4f9;
}

h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="url"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="url"]:focus {
  border-color: #6c63ff;
}

button {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #554fc9;
}

div p {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
  text-align: center;
}

a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
